node_modules
**/node_modules
.pnpm-store
.bun

# Next.js build output
.next
out
dist
build
coverage

# Environment files
!.env.example

# Logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Dev files & VCS
.git
.gitignore
.husky
.vscode
.idea
.DS_Store
Dockerfile
.dockerignore
docker-compose*

# Local data
storage
