## Database
DATABASE_URL=

## NextAuth
NEXTAUTH_URL=
NEXTAUTH_SECRET=
# Only for development
AUTH_TRUST_HOST=true

## GitHub OAuth
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

## GitHub Webhooks
GITHUB_WEBHOOK_SECRET=
